* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    color: white;
    text-align: center;
}

h1, h2 {
    margin-block-end: 20px;
}

main {
    padding: 20px;
    max-inline-size: 1200px;
    margin: 0 auto;
}

#form-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-block-end: 20px;
}

label {
    display: block;
    margin-block-end: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    inline-size: 100%;
    padding: 10px;
    margin-block-end: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#search {
    margin-block-start: 20px;
    padding: 10px;
    inline-size: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#events-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    border-block-end: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-block-end: none;
}

li button {
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

li button:hover {
    background-color: #e53935;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    inline-size: 100%;
    inset-block-end: 0;
}
#delete-section {
    text-align: center;
    margin-block-start: 20px;
}

#delete-all {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#delete-all:hover {
    background-color: #e53935;
}